![Nuclio logo](https://nuclio.school/wp-content/uploads/2018/12/nucleoDS-newBlack.png)

# First look

## Load Data

In [56]:
import pandas as pd
import numpy as np

df_imdb = pd.read_csv("01_imdb.csv", sep=";", index_col=0)

In [57]:
df_imdb.sample(5).T

,83,66,18,55,69
color,NaN,Color,NaN,Color,Color
director_name,Walter Salles,David Dobkin,Christopher Nolan,Baz Luhrmann,Derek Cianfrance
duration,137,141,164,143,140
gross,"$717,753.00","$47,105,085.00","$448,130,642.00","$144,812,796.00","$21,383,298.00"
genres,Adventure|Drama,Crime|Drama,Action|Thriller,Drama|Romance,Crime|Drama|Thriller
movie_title,on the road,the judge,the dark knight rises,the great gatsby,the place beyond the pines
title_year,2012,2014,2012,2013,2012
language,English,English,English,English,English
country,France,USA,USA,Australia,USA
budget,"USD 25,000,000.00","USD 50,000,000.00","USD 250,000,000.00","USD 105,000,000.00","USD 15,000,000.00"
imdb_score,6.1,7.4,8.5,7.3,7.3
actors,"Kristen Stewart,Viggo Mortensen,Kirsten Dunst","Robert Downey Jr.,Robert Duvall,Leighton Meester","Tom Hardy,Christian Bale,Joseph Gordon-Levitt","Leonardo DiCaprio,Elizabeth Debicki,Steve Bisley","Ryan Gosling,Ben Mendelsohn,Angelo Anthony Pizza"
movie_facebook_likes,27000,47000,164000,115000,47000
movie_twitter_likes,1000,1000,1000,1000,1000

## Looking at the data

### General: `.columns`, `.index`, `.shape`

In [58]:
df_imdb.columns

Index(['color', 'director_name', 'duration', 'gross', 'genres', 'movie_title',
       'title_year', 'language', 'country', 'budget', 'imdb_score', 'actors',
       'movie_facebook_likes', 'movie_twitter_likes'],
      dtype='object')

In [59]:
df_imdb.index

Int64Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
            17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
            34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
            51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67,
            68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84,
            85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98],
           dtype='int64')

In [60]:
df_imdb.shape

(99, 14)

### Observations: `.head()`, `.tail()`, `.sample()`

In [61]:
df_imdb.head()

,color,director_name,duration,gross,genres,movie_title,title_year,language,country,budget,imdb_score,actors,movie_facebook_likes,movie_twitter_likes
0,Color,Martin Scorsese,240,"$116,866,727.00",Biography|Comedy|Crime|Drama,the wolf of wall street,2013,English,USA,"USD 100,000,000.00",8.2,"Leonardo DiCaprio,Matthew McConaughey,Jon Favreau",138000,1000
1,Color,Shane Black,195,"$408,992,272.00",Action|Adventure|Sci-Fi,iron man 3,2013,English,USA,"USD 200,000,000.00",7.2,"Robert Downey Jr.,Jon Favreau,Don Cheadle",95000,1000
2,color,Quentin Tarantino,187,"$54,116,191.00",Crime|Drama|Mystery|Thriller|Western,the hateful eight,2015,English,USA,"USD 44,000,000.00",7.9,"Craig Stark,Jennifer Jason Leigh,Zoë Bell",114000,1000
3,Color,Kenneth Lonergan,186,"$46,495.00",Drama,margaret,2011,English,usa,"USD 14,000,000.00",6.5,"Matt Damon,Kieran Culkin,John Gallagher Jr.",0,1000
4,Color,Peter Jackson,186,"$258,355,354.00",Adventure|Fantasy,the hobbit: the desolation of smaug,2013,English,USA,"USD 225,000,000.00",7.9,"Aidan Turner,Adam Brown,James Nesbitt",83000,1000

In [62]:
df_imdb.tail()

,color,director_name,duration,gross,genres,movie_title,title_year,language,country,budget,imdb_score,actors,movie_facebook_likes,movie_twitter_likes
94,Color,Steve McQueen,134,"$56,667,870.00",Biography|Drama|History,12 years a slave,2013,English,USA,"USD 20,000,000.00",8.1,"Quvenzhané Wallis,Scoot McNairy,Taran Killam",83000,1000
95,Color,Richard J. Lewis,134,"$7,501,404.00",Comedy|Drama,barney's version,2010,English,Canada,USD nan,7.3,"Mark Addy,Atom Egoyan,Paul Gross",0,1000
96,Color,Paul Greengrass,134,"$107,100,855.00",Biography|Drama|Thriller,captain phillips,2013,English,USA,"USD 55,000,000.00",7.9,"Tom Hanks,Chris Mulkey,Michael Chernus",65000,1000
97,Color,David Ayer,134,"$85,707,116.00",Action|Drama|War,fury,2014,English,USA,"USD 68,000,000.00",7.6,"Brad Pitt,Logan Lerman,Jim Parrack",82000,1000
98,Color,Clint Eastwood,5,"$47,034,272.00",Biography|Drama|Music|Musical,jersey boys,2014,English,USA,"USD 40,000,000.00",6.9,"Johnny Cannizzaro,Steve Schirripa,Scott Vance",16000,1000

In [63]:
df_imdb.sample(5)

,color,director_name,duration,gross,genres,movie_title,title_year,language,country,budget,imdb_score,actors,movie_facebook_likes,movie_twitter_likes
87,NaN,Seth MacFarlane,136,"$42,615,685.00",Comedy|Western,a million ways to die in the west,2014,English,USA,"USD 40,000,000.00",6.1,"Liam Neeson,Charlize Theron,Seth MacFarlane",24000,1000
32,Color,NaN,150,"$182,204,440.00",Biography|Drama|History|War,lincoln,2012,English,USA,"USD 65,000,000.00",7.4,"Joseph Gordon-Levitt,Hal Holbrook,Bruce McGill",71000,1000
31,Color,Ridley Scott,150,"$65,007,045.00",Action|Adventure|Drama,exodus: gods and kings,2014,English,UK,"USD 140,000,000.00",6.1,"Christian Bale,María Valverde,Ben Mendelsohn",51000,1000
97,Color,David Ayer,134,"$85,707,116.00",Action|Drama|War,fury,2014,English,USA,"USD 68,000,000.00",7.6,"Brad Pitt,Logan Lerman,Jim Parrack",82000,1000
28,Color,Marc Webb,153,"$262,030,663.00",Action|Adventure|Fantasy,the amazing spider-man,2012,English,USA,"USD 230,000,000.00",7.0,"Emma Stone,Andrew Garfield,Chris Zylka",56000,1000

### Describe dataset: `info()`, `describe()`

In [64]:
df_imdb.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 99 entries, 0 to 98
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   color                 88 non-null     object
 1   director_name         88 non-null     object
 2   duration              99 non-null     int64
 3   gross                 99 non-null     object
 4   genres                98 non-null     object
 5   movie_title           99 non-null     object
 6   title_year            99 non-null     int64
 7   language              99 non-null     object
 8   country               99 non-null     object
 9   budget                99 non-null     object
 10  imdb_score            99 non-null     float64
 11  actors                99 non-null     object
 12  movie_facebook_likes  99 non-null     int64
 13  movie_twitter_likes   99 non-null     int64
dtypes: float64(1), int64(4), object(9)
memory usage: 11.6+ KB

In [65]:
df_imdb.describe()

,duration,title_year,imdb_score,movie_facebook_likes,movie_twitter_likes
count,99.000000,99.000000,99.000000,99.000000,99.0
mean,155.494949,1944.010101,6.892929,66045.707071,1000.0
std,72.797927,393.848787,1.925514,58108.860365,0.0
min,-50.000000,-1000.000000,-7.500000,0.000000,1000.0
25%,138.500000,2012.000000,6.550000,25000.000000,1000.0
50%,143.000000,2013.000000,7.200000,54000.000000,1000.0
75%,155.000000,2014.000000,7.850000,85500.000000,1000.0
max,650.000000,2030.000000,8.800000,349000.000000,1000.0

### Check NA: `.isnull()`, `.isna()`

In [66]:
df_imdb.isnull().any()

color                    True
director_name            True
duration                False
gross                   False
genres                   True
movie_title             False
title_year              False
language                False
country                 False
budget                  False
imdb_score              False
actors                  False
movie_facebook_likes    False
movie_twitter_likes     False
dtype: bool

In [67]:
df_imdb.isna().sum()

color                   11
director_name           11
duration                 0
gross                    0
genres                   1
movie_title              0
title_year               0
language                 0
country                  0
budget                   0
imdb_score               0
actors                   0
movie_facebook_likes     0
movie_twitter_likes      0
dtype: int64

In [68]:
df_imdb.isna().mean() * 100

color                   11.111111
director_name           11.111111
duration                 0.000000
gross                    0.000000
genres                   1.010101
movie_title              0.000000
title_year               0.000000
language                 0.000000
country                  0.000000
budget                   0.000000
imdb_score               0.000000
actors                   0.000000
movie_facebook_likes     0.000000
movie_twitter_likes      0.000000
dtype: float64

### Check duplicatess: `.duplicated()`. `.drop_duplicates()`

In [69]:
df_imdb[df_imdb.duplicated(keep=False)]

,color,director_name,duration,gross,genres,movie_title,title_year,language,country,budget,imdb_score,actors,movie_facebook_likes,movie_twitter_likes
8,Color,Joss Whedon,173,"$623,279,547.00",Action|Adventure|Sci-Fi,the avengers,2012,English,USA,"USD 220,000,000.00",8.1,"Chris Hemsworth,Robert Downey Jr.,Scarlett Joh...",123000,1000
9,Color,Joss Whedon,173,"$623,279,547.00",Action|Adventure|Sci-Fi,the avengers,2012,English,USA,"USD 220,000,000.00",8.1,"Chris Hemsworth,Robert Downey Jr.,Scarlett Joh...",123000,1000
30,Color,Ridley Scott,150,"$65,007,045.00",Action|Adventure|Drama,exodus: gods and kings,2014,English,UK,"USD 140,000,000.00",6.1,"Christian Bale,María Valverde,Ben Mendelsohn",51000,1000
31,Color,Ridley Scott,150,"$65,007,045.00",Action|Adventure|Drama,exodus: gods and kings,2014,English,UK,"USD 140,000,000.00",6.1,"Christian Bale,María Valverde,Ben Mendelsohn",51000,1000
52,Color,Sam Mendes,143,"$304,360,277.00",Action|Adventure|Thriller,skyfall,2012,English,UK,"USD 200,000,000.00",7.8,"Albert Finney,Helen McCrory,Rory Kinnear",80000,1000
53,Color,Sam Mendes,143,"$304,360,277.00",Action|Adventure|Thriller,skyfall,2012,English,UK,"USD 200,000,000.00",7.8,"Albert Finney,Helen McCrory,Rory Kinnear",80000,1000
54,Color,Baz Luhrmann,143,"$144,812,796.00",Drama|Romance,the great gatsby,2013,English,Australia,"USD 105,000,000.00",7.3,"Leonardo DiCaprio,Elizabeth Debicki,Steve Bisley",115000,1000
55,Color,Baz Luhrmann,143,"$144,812,796.00",Drama|Romance,the great gatsby,2013,English,Australia,"USD 105,000,000.00",7.3,"Leonardo DiCaprio,Elizabeth Debicki,Steve Bisley",115000,1000
61,Color,Timur Bekmambetov,141,$nan,Adventure|Drama|History,ben-hur,2016,English,USA,"USD 100,000,000.00",6.1,"Morgan Freeman,Ayelet Zurer,Moises Arias",0,1000
63,Color,Timur Bekmambetov,141,$nan,Adventure|Drama|History,ben-hur,2016,English,USA,"USD 100,000,000.00",6.1,"Morgan Freeman,Ayelet Zurer,Moises Arias",0,1000

In [70]:
df_imdb[df_imdb.duplicated(keep="first")]

,color,director_name,duration,gross,genres,movie_title,title_year,language,country,budget,imdb_score,actors,movie_facebook_likes,movie_twitter_likes
9,Color,Joss Whedon,173,"$623,279,547.00",Action|Adventure|Sci-Fi,the avengers,2012,English,USA,"USD 220,000,000.00",8.1,"Chris Hemsworth,Robert Downey Jr.,Scarlett Joh...",123000,1000
31,Color,Ridley Scott,150,"$65,007,045.00",Action|Adventure|Drama,exodus: gods and kings,2014,English,UK,"USD 140,000,000.00",6.1,"Christian Bale,María Valverde,Ben Mendelsohn",51000,1000
53,Color,Sam Mendes,143,"$304,360,277.00",Action|Adventure|Thriller,skyfall,2012,English,UK,"USD 200,000,000.00",7.8,"Albert Finney,Helen McCrory,Rory Kinnear",80000,1000
55,Color,Baz Luhrmann,143,"$144,812,796.00",Drama|Romance,the great gatsby,2013,English,Australia,"USD 105,000,000.00",7.3,"Leonardo DiCaprio,Elizabeth Debicki,Steve Bisley",115000,1000
63,Color,Timur Bekmambetov,141,$nan,Adventure|Drama|History,ben-hur,2016,English,USA,"USD 100,000,000.00",6.1,"Morgan Freeman,Ayelet Zurer,Moises Arias",0,1000

In [71]:
df_imdb.shape, df_imdb.drop_duplicates().shape

((99, 14), (94, 14))

In [72]:
df_imdb.drop_duplicates(inplace=True)

Save the modified csv

In [73]:
df_imdb.to_csv('02_imdb.csv')